.drawing-surface {
  border: 1px solid black;
}

.hbox {
  display: flex;
  flex-direction: row;
}

.vbox {
  display: flex;
  flex-direction: column;
}

.spacer {
  flex: 1.0;
}

button {
  background: white;
  border: 1px solid black;
  margin: 0.125rem  0.25rem;
  border-radius: 0.25rem;
}


button.selected {
  background: black;
  color: white;
}
