.drawing-surface {
  border: 1px solid black;
}

.hbox {
  display: flex;
  flex-direction: row;
}

.vbox {
  display: flex;
  flex-direction: column;
}

.spacer {
  flex: 1.0;
}

button {
  background: white;
  border: 1px solid black;
}
